body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #005691;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #005691;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #004a7c;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: #004a7c;
}

hr {
  border-style: none;
  border-color: #e8f1f5;
  border-width: 7px;
  border-top-style: dotted;
  width: 10%;
}

.mountain {
  width: 100%;
}

.profile {
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}

.topContainer {
  padding-top: 100px;
  background-color: #fafafa;
  position: relative;
}

.topCloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottomCloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profilePic {
  height: 160px;
  width: 120px;
  border-radius: 50%;
}

.programmerSubtitle {
  font-weight: normal;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.iphonePic {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.computerPic {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottomContainer {
  background-color: #004a7c;
}
.footerLink{
  margin: 20px;
  color: #e8f1f5;
  font-weight: normal;
}
